<ul class="nav nav-tabs mt-2">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Lista de Alunos</a>
  </li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">RU</th>
      <th scope="col">Curso</th>
      <th scope="col">Data Nascimento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <th scope="row">{{aluno.nome}}</th>
      <td>{{aluno.ru}}</td>
      <td>{{aluno.nomeDoCurso}}</td>
      <td>{{aluno.dataDeAniversario}}</td>
    </tr>
  </tbody>
</table>